<% include header %>

<h2><a href="/"><< back to</a> The main page</h2>

<section class="widersec">
  <h2>Oops, the vase is broken</h2>

  <p>The art that you are looking for has not been found</p>
</section>

<% include footer %>
