/* CSS */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Arvo', serif;
  line-height: 1.5em;
  color: #333;
  width: 1000px;
  margin: auto;
  padding: 25px 0 25px 0;
  background: url("../img/congruent_pentagon.png");
}

section {
  box-sizing: border-box;
  width: 450px;
  margin: 25px 25px;
  background-color: #b3d6ff;
  padding: 25px;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 0 0 3px black;
}

p {
  margin: 20px 0;
}

span {
  font-weight: 700;
}

nav {
  display: inline-flex;
  box-sizing: border-box;
  width: 700px;
  margin-top: 25px;
  padding: 0 25px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.25);
}

nav a {
  display: inline-block;
  margin-right: 5px;
}

h1 {
  font-weight: 700;
  color: white;
  text-shadow: 0 0 6px black;
  font-size: 3em;
  letter-spacing: 0.3em;
  text-align: center;
  background-image: url(../img/header.jpg);
  width: 1000px;
  height: 200px;
  line-height: 200px;
  background-size: cover;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 25px;
}

h2 a {
  color: #544bff;
}

h3 {
  text-indent: 15px;
  font-size: 1.2em;
  padding: 15px 15px 15px 0;
}

h3 a {
  color: #544bff;
}

h4 {
  margin-left: 5px;
  display: inline-block;
  color: black;
}

footer {
  width: 100%;
  background-color: black;
  color: #aaa;
  text-align: center;
  padding: 25px 0;
}

.clear {
  width: 100%;
}

.navcat {
  font-size: 1.2em;
  padding: 15px 0 15px 10px;
  color: #544bff;
}

.subkop {
  margin: 0;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #29229f;
}

.return {
  text-decoration: none;
}

.return a {
  color: white;
  text-shadow: 0 0 6px black;
}

.category {
  font-size: 1.2em;
  font-weight: 400;
  margin: auto;
  margin-top: 25px;
  padding: 15px 15px 15px 0;
  border-radius: 15px;
  text-indent: 15px;
  background-color: rgba(0, 0, 0, 0.25);
}

.postsec {
  display: inline-flex;
}

.widersec {
  width: 800px;
}
